*
{
    outline: none;
}
#sum,#category
{
border-radius: 10px;
border-style: groove;
font-family: Arial, Helvetica, sans-serif;
font-size:  large;
width: 200px;
height: 20px;
}
#add-button{
    border-radius: 10px;
    border-style: groove;
    box-shadow: blue;
    font-size:  large;
}
#add-button:active{
    box-shadow: 0px  0px 20px rgb(64, 255, 16);
} 
#total
{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-left: 30px;

}
#sum-list
{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
label
{
    font-family: 'Calibri';
    font-size:  large;
}
#button-delete,#button-up,#button-down
{
    border-radius: 10px;
    border-style: groove;
    font-size:  large;
    margin-left: 5px;
    text-anchor: middle;
    font-weight: bold;
    padding-right: 15px;
}
#button-delete:active,#button-up:active,#button-down:active
{
    color: rgb(105, 95, 160);
    box-shadow: 0px 0px 20px rgb(105, 95, 160);
}
#button-delete:hover,#button-up:hover,#button-down:hover
{
    color: coral;
}
#message
{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}